body {
  display: flex;
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: 0.9;
  height: 100%;
  margin: 0;
}

/* HEADER MENU */

.header-container {
  display: flex;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  margin: 0;
}

.header-container img {
  display: inline-block;
  height: 50px;
  padding: 10px;
}

a {
  display: inline-flex;
  justify-content: space-between;
  color: seashell;
  text-decoration: underline;
  padding: 10px;
}

.header-nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 10px;
}

/* MAIN SECTION */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: auto;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

/* MISSION SECTION */

.mission-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 700px;
}

.mission-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: black;
  width: 100%;
  height: 100px;
  padding-bottom: 5px;
}

h2,
h4 {
  width: 100%;
  margin: auto;
}

/* FEATURED TEA SECTION */

.tea-container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
  margin-top: 69px;
}

.tea-content {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 100px;
  justify-content: center;
  text-align: center;
}

.images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: auto;
  width: 100%;
}

.berryblitz,
.spiced,
.donuts,
.myrtle,
.bedford {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: auto;
  margin: 10px;
  text-align: center;
}

.berryblitz img,
.spiced img,
.donuts img,
.myrtle img,
.bedford img {
  width: 300px;
  height: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* LOCATIONS SECTION */

.locations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/img-locations-background.jpg");
  background-position: top;
  background-size: cover;
  height: 500px;
  width: 100%;
  margin-top: 70px;
}

.locations {
  display: block;
  position: relative;
  text-align: center;
}

.addresses {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.downtown,
.bayside,
.oakdale {
  display: flex;
  flex-direction: column;
  background-color: black;
  opacity: 1;
  color: seashell;
  width: 300px;
  height: auto;
  margin: 20px;
}

/* FOOTER SECTION */

.contact {
  display: block;
  width: 1200px;
  height: 200px;
  text-align: center;
  margin-top: 10px;
}

.copyright {
  display: block;
  width: 1200px;
  height: auto;
  text-align: left;
  margin: 0;
  padding-left: 20px;
}
